@import './foundation/_reset.scss';
@import './foundation/_base.scss';

.issue {
  h1 {
    font-weight: bold;
    font-size: 24px;
  }
  line-height: 1.7;
  padding: 20px;
}

.rule-list {
  margin: 20px 0;
  dt {
    font-weight: bold;
  }
  dd {
    display: flex;
    margin: 8px 0;
    &::before {
      content: '・';
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 300px;
  height: 40px;
  border: 1px solid #d9d9d9;
  &.-trigger {
    cursor: pointer;
  }
}

.accordion {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 300px;
    height: 0px;
    border: 1px solid #d9d9d9;
    background-color: #eee;
    transition: all 0.2s ease;
    visibility: hidden;
    opacity: 0;
    &.-is-open {
      visibility: visible;
      opacity: 1;
      height: 40px;
    }
  }
}

.jq-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 300px;
  height: 40px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.jq-accordion {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 300px;
    height: 40px;
    border: 1px solid #d9d9d9;
    background-color: #eee;
  }
}
